In [1]:
from src.services.five_min_kline_service import five_min_amount

result = five_min_amount(code='BK0623')
result

           trade_time  volume            amount
0    2024-12-31 09:35  669195  530827574.000000
1    2024-12-31 09:40  442769  363390691.000000
2    2024-12-31 09:45  365814  302846978.000000
3    2024-12-31 09:50  326513  278474622.000000
4    2024-12-31 09:55  312981  251110940.000000
..                ...     ...               ...
283  2025-01-08 14:40  148615  109513279.000000
284  2025-01-08 14:45  113554   86628593.000000
285  2025-01-08 14:50  138598  102081343.000000
286  2025-01-08 14:55  204121  147165856.000000
287  2025-01-08 15:00  237549  160979875.000000

[288 rows x 3 columns]

           trade_time  volume            amount
0    2024-12-31 09:35  669195  530827574.000000
1    2024-12-31 09:40  442769  363390691.000000
2    2024-12-31 09:45  365814  302846978.000000
3    2024-12-31 09:50  326513  278474622.000000
4    2024-12-31 09:55  312981  251110940.000000
..                ...     ...               ...
283  2025-01-08 14:40  148615  109513279.000000
284  2025-01-08 14:45  113554   86628593.000000
285  2025-01-08 14:50  138598  102081343.000000
286  2025-01-08 14:55  204121  147165856.000000
287  2025-01-08 15:00  237549  160979875.000000

[288 rows x 3 columns]