In [2]:
from utils.five_min_kline_service import min_amount_latest, min_amount_history
from utils.contract_list_data_service import ContractUtil

ContractUtil.init_data()
result = ContractUtil.get_contract_data()
result.sample(10)

        prefix  name contract_type
code
002848       0  高斯贝尔            股票
000792       0  盐湖股份            股票
002358       0  森源电气            股票
603816       1  顾家家居            股票
BK1035      90  美容护理            行业
600511       1  国药股份            股票
688439       1  振华风光            股票
002782       0   可立克            股票
300248       0   新开普            股票
603602       1  纵横通信            股票

In [ ]:

# 1.000001
min_amount_latest("000001", "1", 1)

2025-01-24 14:38:08.842 | DEBUG    | utils.five_min_kline_service:kline_last_day:103 - [DEBUG] 获取到的五分钟K线数据:
                   volume             amount
trade_time
2025-01-24 14:30  1237089  1444587264.000000
2025-01-24 14:31  1682797  1911246672.000000
2025-01-24 14:32  1354415  1713827584.000000
2025-01-24 14:33  1103216  1350743808.000000
2025-01-24 14:34  1151808  1393341504.000000
2025-01-24 14:35  1421883  1707828176.000000
2025-01-24 14:36  1433785  1818845536.000000
2025-01-24 14:37  1501728  1831644640.000000
2025-01-24 14:38  1178230  1460183632.000000
2025-01-24 14:39   163708   207916258.000000

                    volume              amount
trade_time
2025-01-24 09:31  13969644  15462698000.000000
2025-01-24 09:32   7062875   7860518912.000000
2025-01-24 09:33   6356805   7033094912.000000
2025-01-24 09:34   5965320   6624224512.000000
2025-01-24 09:35   5647028   5930559744.000000
...                    ...                 ...
2025-01-24 14:35   1421883   1707828176.000000
2025-01-24 14:36   1433785   1818845536.000000
2025-01-24 14:37   1501728   1831644640.000000
2025-01-24 14:38   1178230   1460183632.000000
2025-01-24 14:39    163708    207916258.000000

[219 rows x 2 columns]

In [3]:
# 1.000001
min_amount_history("000001", "1", 30, 1)

2025-01-24 14:49:02.771 | DEBUG    | utils.trading_day_util:get_trading_calendar:18 - 请求市场日K线数据：https://push2his.eastmoney.com/api/qt/stock/kline/get?secid=1.000001&ut=fa5fd1943c7b386f172d6893dbfba10b&fields1=f1%2Cf2%2Cf3%2Cf4%2Cf5%2Cf6&fields2=f51&klt=101&fqt=1&end=20500101&lmt=200&_=1736309467992
2025-01-24 14:49:02.894 | DEBUG    | utils.five_min_kline_service:min_amount_history:29 - 请求五分钟K线数据：https://push2his.eastmoney.com/api/qt/stock/kline/get?secid=1.000001&ut=fa5fd1943c7b386f172d6893dbfba10b&fields1=f1%2Cf2%2Cf3%2Cf4%2Cf5%2Cf6&fields2=f51%2Cf56%2Cf57&klt=5&fqt=1&end=20250123&lmt=48&_=1736309467992

获取到的日K线数：{'rc': 0, 'rt': 17, 'svr': 177617925, 'lt': 1, 'full': 0, 'dlmkts': '', 'data': {'code': '000001', 'market': 1, 'name': '上证指数', 'decimal': 2, 'dktotal': 8329, 'preKPrice': 3077.38, 'klines': ['2024-04-02', '2024-04-03', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-11', '2024-04-12', '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-15', '2024-07-16', '2024-07-17', '2024-07-18', '2024-07-19', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-15', '2024-08-16', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29', '2024-08-30', '2024-09-02', '2024-09-03', '2024-09-04', '2024-09-05', '2024-09-06', '2024-09-09', '2024-09-10', '2024-09-11', '2024-09-12', '2024-09-13', '2024-09-18', '2024-09-19', '2024-09-20', '2024-09-23', '2024-09-24', '2024-09-25', '2024-09-26', '2024-09-27', '2024-09-30', '2024-10-08', '2024-10-09', '2024-10-10', '2024-10-11', '2024-10-14', '2024-10-15', '2024-10-16', '2024-10-17', '2024-10-18', '2024-10-21', '2024-10-22', '2024-10-23', '2024-10-24', '2024-10-25', '2024-10-28', '2024-10-29', '2024-10-30', '2024-10-31', '2024-11-01', '2024-11-04', '2024-11-05', '2024-11-06', '2024-11-07', '2024-11-08', '2024-11-11', '2024-11-12', '2024-11-13', '2024-11-14', '2024-11-15', '2024-11-18', '2024-11-19', '2024-11-20', '2024-11-21', '2024-11-22', '2024-11-25', '2024-11-26', '2024-11-27', '2024-11-28', '2024-11-29', '2024-12-02', '2024-12-03', '2024-12-04', '2024-12-05', '2024-12-06', '2024-12-09', '2024-12-10', '2024-12-11', '2024-12-12', '2024-12-13', '2024-12-16', '2024-12-17', '2024-12-18', '2024-12-19', '2024-12-20', '2024-12-23', '2024-12-24', '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-30', '2024-12-31', '2025-01-02', '2025-01-03', '2025-01-06', '2025-01-07', '2025-01-08', '2025-01-09', '2025-01-10', '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16', '2025-01-17', '2025-01-20', '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24']}}
获取到的五分钟K线数据：{'rc': 0, 'rt': 17, 'svr': 2887180179, 'lt': 1, 'full': 0, 'dlmkts': '', 'data': {'code': '000001', 'market': 1, 'name': '上证指数', 'decimal': 2, 'dktotal': 8329, 'preKPrice': 3213.62, 'klines': ['2025-01-23 09:35,52444698,58428934656.000000', '2025-01-23 09:40,36715289,39243033600.000000', '2025-01-23 09:45,31233408,37314245632.000000', '2025-01-23 09:50,23268926,27100598016.000000', '2025-01-23 09:55,17913742,21539982336.000000', '2025-01-23 10:00,14404845,17623209120.000000', '2025-01-23 10:05,14705216,17461765280.000000', '2025-01-23 10:10,11735442,13982281712.000000', '2025-01-23 10:15,9721937,12079018560.000000', '2025-01-23 10:20,9338966,11599083360.000000', '2025-01-23 10:25,8566383,10353352624.000000', '2025-01-23 10:30,6736449,8338678800.000000', '2025-01-23 10:35,6114750,7775915760.000000', '2025-01-23 10:40,5518580,7318700272.000000', '2025-01-23 10:45,5501163,7867683184.000000', '2025-01-23 10:50,6084529,7871598432.000000', '2025-01-23 10:55,6858203,7246284608.000000', '2025-01-23 11:00,5026417,5829793264.000000', '2025-01-23 11:05,5272004,6314499856.000000', '2025-01-23 11:10,4581584,5781071168.000000', '2025-01-23 11:15,7962290,8959872000.000000', '2025-01-23 11:20,6578589,8111161200.000000', '2025-01-23 11:25,5170574,6288290016.000000', '2025-01-23 11:30,3948366,4702892848.000000', '2025-01-23 13:05,8502656,8933447504.000000', '2025-01-23 13:10,6107360,7084100864.000000', '2025-01-23 13:15,6080977,6479950592.000000', '2025-01-23 13:20,4725884,6148264720.000000', '2025-01-23 13:25,5301240,7141958816.000000', '2025-01-23 13:30,6657737,9153807600.000000', '2025-01-23 13:35,7249165,8880223072.000000', '2025-01-23 13:40,5480944,7023421616.000000', '2025-01-23 13:45,5420561,6649912672.000000', '2025-01-23 13:50,4373243,5829634576.000000', '2025-01-23 13:55,4802397,6247009136.000000', '2025-01-23 14:00,6490808,8136777488.000000', '2025-01-23 14:05,7397463,8132704656.000000', '2025-01-23 14:10,4430637,5554760656.000000', '2025-01-23 14:15,4573260,5207471920.000000', '2025-01-23 14:20,5953788,6467864032.000000', '2025-01-23 14:25,5275049,6127391456.000000', '2025-01-23 14:30,4567223,5526287568.000000', '2025-01-23 14:35,6525930,7392202144.000000', '2025-01-23 14:40,5118145,6255692144.000000', '2025-01-23 14:45,7425954,8156141296.000000', '2025-01-23 14:50,7950904,9016470928.000000', '2025-01-23 14:55,11227894,12424175312.000000', '2025-01-23 15:00,11205231,12698970244.000000']}}

                    volume              amount
trade_time
2025-01-23 09:35  52444698  58428934656.000000
2025-01-23 09:40  36715289  39243033600.000000
2025-01-23 09:45  31233408  37314245632.000000
2025-01-23 09:50  23268926  27100598016.000000
2025-01-23 09:55  17913742  21539982336.000000
2025-01-23 10:00  14404845  17623209120.000000
2025-01-23 10:05  14705216  17461765280.000000
2025-01-23 10:10  11735442  13982281712.000000
2025-01-23 10:15   9721937  12079018560.000000
2025-01-23 10:20   9338966  11599083360.000000
2025-01-23 10:25   8566383  10353352624.000000
2025-01-23 10:30   6736449   8338678800.000000
2025-01-23 10:35   6114750   7775915760.000000
2025-01-23 10:40   5518580   7318700272.000000
2025-01-23 10:45   5501163   7867683184.000000
2025-01-23 10:50   6084529   7871598432.000000
2025-01-23 10:55   6858203   7246284608.000000
2025-01-23 11:00   5026417   5829793264.000000
2025-01-23 11:05   5272004   6314499856.000000
2025-01-23 11:10   4581584   5781071168.000000
2025-01-23 11:15   7962290   8959872000.000000
2025-01-23 11:20   6578589   8111161200.000000
2025-01-23 11:25   5170574   6288290016.000000
2025-01-23 11:30   3948366   4702892848.000000
2025-01-23 13:05   8502656   8933447504.000000
2025-01-23 13:10   6107360   7084100864.000000
2025-01-23 13:15   6080977   6479950592.000000
2025-01-23 13:20   4725884   6148264720.000000
2025-01-23 13:25   5301240   7141958816.000000
2025-01-23 13:30   6657737   9153807600.000000
2025-01-23 13:35   7249165   8880223072.000000
2025-01-23 13:40   5480944   7023421616.000000
2025-01-23 13:45   5420561   6649912672.000000
2025-01-23 13:50   4373243   5829634576.000000
2025-01-23 13:55   4802397   6247009136.000000
2025-01-23 14:00   6490808   8136777488.000000
2025-01-23 14:05   7397463   8132704656.000000
2025-01-23 14:10   4430637   5554760656.000000
2025-01-23 14:15   4573260   5207471920.000000
2025-01-23 14:20   5953788   6467864032.000000
2025-01-23 14:25   5275049   6127391456.000000
2025-01-23 14:30   4567223   5526287568.000000
2025-01-23 14:35   6525930   7392202144.000000
2025-01-23 14:40   5118145   6255692144.000000
2025-01-23 14:45   7425954   8156141296.000000
2025-01-23 14:50   7950904   9016470928.000000
2025-01-23 14:55  11227894  12424175312.000000
2025-01-23 15:00  11205231  12698970244.000000